// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#breadcrumbs {
  margin: 10px 0;
}
.notice, .alert {
  margin: 0 !important;
  padding: 0 !important;
}
.signed-in {
  position: relative;
  top: 16px;
}
.tile {
  div {
    padding: 15px;
    // @extend .panel;
    // @extend .panel-default;
    @extend .well;
  }
  button {
    margin-top: 15px;
    border: 1px solid grey;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    padding-top: 5px;
    // font-size: 20px;
  }
}
.completed-stamp {
  background-image: url('http://cl.ly/image/391t1m0v0z1B');
}
